$body-bg: rgb(255, 255, 255);

$body-color: rgba(255, 255, 255, 0.9);

$theme-colors: (
  'primary': #020202,
  'secondary': #9e4b4b,
  'success': #42382f,
  'info': #596c6dbd,
  'warning': #ac5b2c,
  'danger': #88193a,
  'light': #9c978fe0,
  'dark': #2f2f2f
);

@import 'bootstrap/scss/bootstrap';
